<body>
  <div
  class="container-fluid header w-100"
  style="height: 8%; font-size: 16px; font-weight: 500"
>
  <div class="container justify-content-between float-right">
    <div class="p-3">
      <a [routerLink]="['/home']" style="color: white">Home</a>
    </div>
    <div class="p-3">
      <a [routerLink]="['/event']" style="color: white">Events</a>
    </div>
    <div class="p-3">
      <a [routerLink]="['/chat']" style="color: white">ChatRoom</a>
    </div>
    <div class="p-3">
      <a [routerLink]="['/photography']" style="color: white">Gallery</a>
    </div>
    <div class="p-3  "><a [routerLink]="['/login']" style="color: white;">Loguot</a></div>
  </div>
</div>
  <div class="container-fluid  chatbox shadow-lg rounded " style="opacity: 1;">
      <div class="row">

          <div class="col-md-4 d-none d-md-block " style="margin:0;padding:0;">
              <div class="card" style="margin:0;padding:0;  height:100vh;background-color:rgb(250, 250, 250);">
                  <div class="card-header" style=" background-color:rgb(240, 240, 240);">
                      <div class="row">
                          <div class="col-md-7">
                              <img src="assets\pexels-photo-810775.jpeg" alt="" class="rounded-circle"
                                  style="width: 50px; height:50px">
                          </div>
                          <div class="col-md-5">

                              <div class="row">
                                  <div class="col-md-6">
                                      <!-- Button trigger modal -->
                                      <button type="button" class="btn btn-lg" data-toggle="modal"
                                          data-target="#CreateChatRoomModal" data-backdrop="false">
                                          Create
                                      </button>

                                      <!-- Modal -->
                                      <div class="modal fade-in" id="CreateChatRoomModal" tabindex="-1" role="dialog"
                                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLabel">Create a new
                                                          Class Room here</h5>
                                                      <button type="button" class="close" data-dismiss="modal"
                                                          aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                      </button>
                                                  </div>
                                                  <div class="modal-body">
                                                      <form>
                                                          <div class="form-group" style="border-radius: 20px;">

                                                              <input type="text" class="form-control"
                                                                  placeholder="Room-Name"
                                                                  style="border-radius: 20px;" required>

                                                          </div>


                                                          <div class="form-group"
                                                              style="border-radius: 20px; display:flex">

                                                              <input type="text" class="form-control"
                                                                  placeholder="Topic" style="border-radius: 20px;"required>

                                                          </div>

                                                          <div class="form-group">

                                                              <input type="text" class="form-control"
                                                                  placeholder="Created By"
                                                                  style="border-radius: 20px;" required>
                                                          </div>

                                                          <button type="submit" class="btn  btn-outline-success"
                                                              style="border-radius: 20px;">Chat</button>
                                                      </form>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary"
                                                          data-dismiss="modal">Close</button>

                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <!-- Button trigger modal -->
                                      <button type="button" class="btn btn-lg" data-toggle="modal"
                                          data-target="#JoinChatroomModal" data-backdrop="false">
                                          Join
                                      </button>

                                      <!-- Modal -->
                                      <div class="modal fade-in" id="JoinChatroomModal" tabindex="-1" role="dialog"
                                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLabel">Join the room
                                                          here</h5>
                                                      <button type="button" class="close" data-dismiss="modal"
                                                          aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                      </button>
                                                  </div>
                                                  <div class="modal-body">
                                                      <form>
                                                          <div class="form-group">

                                                              <input type="text" class="form-control"
                                                                  placeholder="Room-Name"
                                                                  style="border-radius: 20px; " required>

                                                          </div>


                                                          <div class="form-group">

                                                              <input type="text" class="form-control"
                                                                  placeholder="Topic" style="border-radius: 20px;" required>

                                                          </div>


                                                          <div class="form-group">
                                                              <button type="submit" class="btn btn-outline-success"
                                                                  style="border-radius: 20px;">Join</button>

                                                          </div>

                                                      </form>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary"
                                                          data-dismiss="modal">Close</button>

                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>








                              <!-- <div class="dropdown" style="float: right;padding-top: 0.4vh;padding-right: 20px;">
                                  <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                      data-toggle="dropdown">
                                      <i class="fa fa-bars" aria-hidden="true"></i>
                                  </button>
                                  <div class="dropdown-menu" style="float: right;">
                                      <button class="dropdown-item btn-outline-primary" href="#">Create
                                          ChatRoom</button>
                                      
                                      <button class="dropdown-item btn-outline-primary" href="#">Join
                                          ChatRoom</button>
                                      <a class="dropdown-item" href="#">Home Page</a>
                                      <a class="dropdown-item" href="#">Events</a>
                                      <a class="dropdown-item" href="#">Forum</a>
                                  </div>
                              </div> -->


                          </div>
                      </div>






                  </div>

                  <div class="card-body" style="margin:10px;padding:0; background-color:none;" id="contacts-body">

                      <div class="row "
                          style=" align-items: center; padding:20px;background-color:rgb(24, 24, 24);">
                          <div class="col-12 col-md-12 input-group mb-3"
                              style="border-radius: 20px; align-items: center; ">
                              <input type="text" class="form-control" placeholder="Search Here"
                                  style="border-radius: 20px;"required>
                              <div class="input-group-append">
                                  <button class="btn btn-outline-primary ml-2" type="button" id="button-addon2"
                                      style="border-radius: 20px;"><i class="fa fa-search"
                                          aria-hidden="true"></i></button>
                              </div>
                          </div>
                      </div>

                      <ul class="list-group list-group-flush " style="margin:0;padding:0;background-color:rgb(48, 48, 48);color: lavenderblush;border-color: lavenderblush;" >
                          <li class="list-group-item list-group-item-action "
                              style="margin:0;padding:0;background-color:rgb(48, 48, 48);color: lavenderblush;border-color: lavenderblush;border-top: lavenderblush;">
                              <div class="row">
                                  <div class="col-md-2">
                                      <img src="assets\pexels-photo-810775.jpeg" alt="" class="rounded-circle"
                                          style="width: 50px; height:50px">

                                  </div>
                                  <div class="col-md-10">
                                      <div class="chatroom-name" style="font-weight: 400;font-size: 17px;">Quantum mechanics</div>
                                      <div class="chatroom-last-content">Incoming....</div>
                                  </div>

                              </div>

                          </li>

                          <li class="list-group-item list-group-item-action "
                              style="margin:0;padding:0;background-color:rgba(24, 24, 24, 0.219);color: lavenderblush;">
                              <div class="row">
                                  <div class="col-md-2">
                                      <img src="assets\pexels-photo-810775.jpeg" alt="" class="rounded-circle"
                                          style="width: 50px; height:50px">

                                  </div>
                                  <div class="col-md-10">
                                      <div class="chatroom-name" style="font-weight: 400;font-size: 17px;">IPL</div>
                                      <div class="chatroom-last-content">Incoming....</div>
                                  </div>

                              </div>

                          </li>

                          <li class="list-group-item list-group-item-action "
                              style="margin:0;padding:0;background-color:rgb(24, 24, 24);color: lavenderblush;border-color: lavenderblush;">
                              <div class="row">
                                  <div class="col-md-2">
                                      <img src="assets\pexels-photo-810775.jpeg" alt="" class="rounded-circle"
                                          style="width: 50px; height:50px">

                                  </div>
                                  <div class="col-md-10">
                                      <div class="chatroom-name" style="font-weight: 400;font-size: 17px;">Music group</div>
                                      <div class="chatroom-last-content">Incoming....</div>
                                  </div>

                              </div>

                          </li>


                      </ul>

                  </div>
              </div>




          </div>

          <div class="col-md-8 " style="margin:0;padding:0;">



              <div class="card  "
                  style="margin:0;padding:0; height: 100%;background-color: rgba(250, 250, 250, 0);">
                  <div class="card-header" style=" color:rgb(0, 0, 0);background-color:rgb(254, 254, 255);">
                      <div class="row">
                          <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                              <img src="assets\pexels-photo-810775.jpeg" alt="" class="rounded-circle"
                                  style="width: 50px; height:50px">
                          </div>
                          <div class=" col-6 col-sm-6 col-md-6 col-lg-8">
                              <div class="chatroom-name" style="font-weight: 400;">Collegare</div>
                              <div class="chatroom-last-content">No of members</div>
                          </div>
                          <div class=" col-4 col-sm-4 col-md-4 col-lg-3 " style="float: right;padding-top: 0.4vh;">

                              <div class="dropdown" style="float: right;padding-top: 0.4vh;">

                                  <button class="btn btn-outline-primary" type="button" id="button-addon2"
                                      style="border-radius: 20px;"><i class="fa fa-search"
                                          aria-hidden="true"></i></button>&nbsp;
                                  <button class="btn btn-outline-primary" type="button" id="button-addon2"
                                      style="border-radius: 20px;"><i class="fa fa-paperclip"
                                          aria-hidden="true"></i></button>&nbsp;

                                  <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                      data-toggle="dropdown">
                                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                  </button>
                                  <div class="dropdown-menu" style="float: right;">

                                      <a class="dropdown-item" href="#">Media</a>
                                      <a class="dropdown-item" href="#">Group List</a>
                                      <a class="dropdown-item" href="#">Exit Chat Room</a>

                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="card-body  " style="margin:0;padding:0;background-color: rgba(173, 173, 166, 0.164);"
                      id="chat-body">
                      <div class="row">
                          <div class="col-md-1">
                              <img src="assets\pexels-photo-810775.jpeg" alt="" class="rounded-circle"
                                  style="width: 30px; height:30px">

                          </div>
                          <div class="col-md-5">
                              <p class="received-message">This is the message received &nbsp;
                                  <span class="time float-right" style="justify-content: end;">1:55pm</span>
                              </p>
                          </div>



                      </div>

                      <div class="row justify-content-end">

                          <div class="col-md-5">
                              <p class="sent-message float-right">This is the message sent &nbsp;
                                  <span class="time float-right" style="justify-content: end;">1:55pm</span>
                              </p>
                          </div>

                          <div class="col-md-1">
                              <img src="assets\pexels-photo-810775.jpeg" alt="" class="rounded-circle"
                                  style="width: 30px; height:30px">

                          </div>



                      </div>




                  </div>

                  <div class="card-footer  " style="background-color:rgb(9, 6, 19);">
                      <div class="row">
                       
                          <div class="col-1 col-sm-1 col-md-1 col-lg-1 ">
                              <button class="btn btn-outline-primary" type="button" id="button-addon2"
                                  style="border-radius: 20px;"><i class="fa fa-smile" aria-hidden="true"></i></button>
                          </div>
                          <div class="col-6 col-sm-6 col-md-9 col-lg-9">
                              <input type="text" class="form-control" placeholder="Type Something Here...."
                                  style="border-radius: 20px;" required>

                          </div>

                          <div class="col-5 col-sm-5 col-md-1 col-lg-1 ">
                              <button class="btn btn-outline-primary" type="button" id="button-addon2"
                                  style="border-radius: 20px;"><i class="fa fa-paper-plane"
                                      aria-hidden="true"></i></button>

                          </div>

                          <div class="col-5 col-sm-5 col-md-1 col-lg-1 ">
                              <button class="btn btn-outline-primary" type="button" id="button-addon2"
                                  style="border-radius: 20px;"><i class="fa fa-microphone"
                                      aria-hidden="true"></i></button>

                          </div>

                      </div>
                      <br>
<br> <br> <br>
                  </div>
              </div>

              <!-- <div class="container  w-100 h-100  color-white  "   style=" margin:0;padding:0;font-size:30px;font-weight:600">
                  <div class="row">
                      <div class="col d-flex justify-content-center mt-5">
                          <img src="assets\undraw_manage_chats_ylx0.png" alt="" class="intro-chatbox" style="height: 500px;width:500px;" >
                      </div>
                      
                  </div>
                  
                  <div class="row">
                      <div class="col d-flex justify-content-center mt-5">
                          <p class="para color-white ">Click on any chatroom to join the chat!!!!!</p>
                      </div>
                      
                  </div>
                  
              </div> -->

          </div>

      </div>
  </div>

</body>